/* common styles */

body {
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    flex-shrink: 0;
}

.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 808px;

}
.banner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 40%;

}
.banner-container h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
}
.banner-container p{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}
.banner-container button{
    background-color: #FFF;
    color: #005FAC;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
}






/* header section styles end */

/* main section styles */


.main-sec-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}

.main-sec-img {
    padding-right: 70px;
}

.main-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.main-desc {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.list-type {
    list-style-type: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.main-i-sec-container {
    display: flex;
    justify-content: space-around;
    margin: 80px;
    gap: 50px;
}

.i-sec-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}



.icon-title {
    color: #151414;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.icon-desc {
    color: #737272;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

/* gradient section style */

.gradient-section-container {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('../images/watch.png');
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    padding-left: 30px;
    margin: auto;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;



}

.gradient-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 60px;

}


/* main section style end */

/* style footer */
footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 100px auto 0;
    background-color: black;
    color: white;
    padding: 100px;
}

.contact input[type="email"] {
    display: block;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
    height: 64px;

}

#form {
    display: block;
    border-radius: 8px;
    background: #005FAC;
    color: #FFF;
    border: 0px;
    padding: 15px 20px;
}

.footer-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.links a {
    margin-right: 25px;
}

.footer-desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}